@import '/src/assets/variables.scss';
@import '/src/assets/mixins.scss';


    .navbarItem {
        margin-right: 86px;
        
         &:last-child {
            margin-right: 0;
         }
         
         svg {
             cursor: pointer;
             width: 12px;
             height: 7px;
             transition: $--userTransition;
             margin-left: 10px;
             vertical-align: middle;

             &.active {
                transform: scale(1, -1);
                & path {
                    fill: $--red;
                }
             }
         }
         
         .navbarLink {
             font-weight: 700;
             text-transform: uppercase;
             text-decoration: none;   
         }

     }

