@import '../../../assets/variables.scss';
@import '/src/assets/mixins.scss';


.navbarTop {
    
 .navbarItem{
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }

    .navbarLink {
        text-decoration: none;
        @include link-border;
    }
 }
}
