@import '/src/assets/variables.scss';
@import '/src/assets/mixins.scss';

.form {
    width: 100%;
    position: relative;

    img {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 28px;
        top: 24px
    }

    input {
        width: 100%;
        padding: 23px 15px 23px 72px;
        border: 1px solid $--gray6;
        border-radius: 10px;
        font-size: 18px;

        &::placeholder {
            font-size: 16px;
            color: inherit;
            line-height: 19px;
        }

        &:focus {
            border-color: $--gray1;
        }
    }

    button {
        position: absolute;
        right: 16px;
        top: 12px;
        background: $--red;
        border-radius: 6px;
        text-transform: uppercase;
        color: $--white;
        padding: 13px;
        transition: $--userTransition;
        font-weight: 700;
        
        &:hover {
            box-shadow: $--box-shadow-btn;
        }
    }
    
}
