$--userfontsize: 16px;
$--lineHeight: 1.5;
$--userFont: 'Roboto', sans-serif;

$--border-radius: 25px;
$--box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
$--box-shadow-btn: 0 2px 4px rgb(231 0 0 / 25%), 0 8px 16px rgb(231 0 0 / 25%);
$--userTransition: all 0.25s ease;

$--black: #262626;
$--black2: #1B1B1B;
$--white: #fff;
$--red: #CA0100;
$--gray1: #737373;
$--gray2: #C2C2C4;
$--gray3: #EFF0F0;
$--gray4: #F2F2F2;
$--gray5: #F2F2F2;
$--gray6: #e1e1e1;
$--innerTopHeight: 43px;









